{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="form-group" id="#navigation-all-content">
                <a href="hub-admin-content-list.html" class="link-back" value="content-list">All Content</a>
            </div>

            <h3 class="heading-medium">Create content by type</h3>
            <ul>
                <li><a href="hub-admin-prospectus.html">Create a Prospectus</a></li>
                <li><a href="hub-admin-video.html">Create a Video</a></li>
                <li><a href="hub-admin-radio.html">Create a Radio Show</a></li>
                <li><a href="hub-admin-ebook.html">Create an eBook</a></li>
            </ul>

        </div>
    </div>
</main>

{% endblock %}


