{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Index
            </h1>

            <h2>Pages and form groups</h2>
            <a href="hub-admin-prospectus.html">Hub Admin - Prospectus form group</a>
            <a href="hub-admin-video.html">Hub Admin - Video form group</a>

            <br><br>

            <h2>Error messaging</h2>
            <a href="error-messaging.html">Basic error messaging</a>


        </div>
    </div>
</main>

{% endblock %}


