{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Index
            </h1>

            <h3 class="heading-medium">Content Objects - Level 1 (STC)</h3>
            <ul>
                <li><a href="hub-admin-content-list.html">Content List</a></li>
            </ul>

            <h3 class="heading-medium">Content Objects - Level 2 (STC)</h3>
            <ul>
                <li><a href="hub-admin-prospectus.html">Prospectus</a></li>
                <li><a href="hub-admin-video.html">Video</a></li>
            </ul>

            <h3 class="heading-medium">Globals</h3>
            <ul>
                <li><a href="error-messaging.html">Basic error messaging</a></li>
            </ul>

        </div>
    </div>
</main>

{% endblock %}


