{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">

        <div class="column-full">

            <br>

            <a class="nav-button active taller" href="index.html" role="button">Home</a>
            <a class="nav-button taller" href="people.html" role="button">Education</a>
            <a class="nav-button taller" href="people.html" role="button">Video</a>
            <a class="nav-button taller" href="landing.html" role="button">Radio</a>
            <a class="nav-button taller" href="tasks.html" role="button">Books</a>
            <a class="nav-button taller" href="tasks.html" role="button">Diary</a>
            <a class="nav-button taller notifications" href="appointments" role="button">Notifications</a>


            <h1 class="heading-large">Meeting</h1>



            <div class="form-group">
                <h3 class="heading-small">Who with?</h3>
                <p>Martha Green</p>

                <h3 class="heading-small">When?</h3>
                <p>Today at 10:30am</p>

                <h3 class="heading-small">Where?</h3>
                <p>Meeting room 2</p>

                <h3 class="heading-small">Details</h3>
                <p>Please bring your progress planner</p>
            </div>

            <p>This meeting has been automatically added to your <a href="">Schedule</a></p>

            <a href="hub-video-no-notification.html" class="link-back">Back</a>

        </div>

    </div>

</main>

{% endblock %}


