{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">

        <div class="column-full">
            <br>
            <a class="nav-button active taller" href="index-page.html" role="button">Home</a>
            <a class="nav-button taller" href="people.html" role="button">Education</a>
            <a class="nav-button taller" href="people.html" role="button">Video</a>
            <a class="nav-button taller" href="landing.html" role="button">Radio</a>
            <a class="nav-button taller" href="tasks.html" role="button">Books</a>
            <a class="nav-button taller" href="tasks.html" role="button">Diary</a>
            <a class="nav-button taller notifications" href="appointments" role="button">Notifications</a>


            <br><br>

            <div class="hub-notification column-full">

                <strong class="bold-small">NOTICE: Martha Green has a booked a meeting with you at 10:30am today in meeting room 2.</strong>

                <br><br>
                <a href="hub-meeting-details.html">View meeting details</a><br>
            </div>


            <div class="hub-video column-two-thirds">
                <h1 class="heading-medium">Videos trending now</h1>


                <img src="https://static.wixstatic.com/media/1ea37c_a930c9dfbc234f76848eee88a8462773~mv2_d_2712_1558_s_2.png/v1/fill/w_1200,h_688,al_c,usm_0.66_1.00_0.01/1ea37c_a930c9dfbc234f76848eee88a8462773~mv2_d_2712_1558_s_2.png">

                <h3 class="heading-medium"><a href="">How to Stay Calm in a Stressful Situation</a></h3>
                <p>TED Talks in London 23/01/2017: Phil Jackson explains how he changed <br>his way of thinking to manage stressful situations, no matter the time or <br>the place.</p>
                <ul>
                    <li class="font-xsmall">13,956 views</li>
                    <li class="font-xsmall"><a href="">TED Talks</a></li>
                </ul>

                <br><br>

                <img src="https://static.wixstatic.com/media/1ea37c_1d6365932fea4b998d546436887c9690~mv2_d_2712_1558_s_2.jpg/v1/fill/w_1200,h_688,al_c,q_85,usm_0.66_1.00_0.01/1ea37c_1d6365932fea4b998d546436887c9690~mv2_d_2712_1558_s_2.webp">

                <h3 class="heading-medium"><a href="">5 Best Bodyweight Exercises for Bigger Arms: No Equipment Needed!</a></h3>
                <p>Gain arm mass quickly and with no equipment by following these 5 steps designed specifically to make your biceps boom!</p>
                <ul>
                    <li class="font-xsmall">29,956 views</li>
                    <li class="font-xsmall"><a href="">Fitness 101</a></li>
                </ul>

                <br><br>

                <details>

                    <summary><span class="summary">View more videos</span></summary>

                    <div class="panel panel-border-narrow">

                    </div>

                </details>
            </div>





            <div class="column-one-third">
                <h1 class="heading-medium">Recommended for you</h1>

                <div class="video-placeholder">
                    <img src="https://static.wixstatic.com/media/1ea37c_e508e1d9a4b2481382c13bf0501b0fc2~mv2_d_2712_1558_s_2.png/v1/fill/w_1200,h_688,al_c,usm_0.66_1.00_0.01/1ea37c_e508e1d9a4b2481382c13bf0501b0fc2~mv2_d_2712_1558_s_2.png">
                </div>


                <ul>
                    <li><a href=""><strong class="bold-small">The History of the English Language in 5 mins</strong></a></li>
                    <li class="font-xsmall">4589 views</li>
                    <li class="font-xsmall"><a href="">Way2Learn</a></li>
                </ul>
                <br><br>

            </div>

            <div class="column-one-third">
                <div class="video-placeholder">
                    <img src="https://static.wixstatic.com/media/1ea37c_6500fb881645463aad94a07b27a20510~mv2_d_2712_1558_s_2.png/v1/fill/w_1200,h_688,al_c,usm_0.66_1.00_0.01/1ea37c_6500fb881645463aad94a07b27a20510~mv2_d_2712_1558_s_2.png">
                </div>

                <ul>
                    <li><a href=""><strong class="bold-small">Minute Maths: Episode 11 - Algebra</strong></a></li>
                    <li class="font-xsmall"><strong class="bold-small">NEW</strong> 567 views</li>
                    <li class="font-xsmall"><a href="">Way2Learn</a></li>
                </ul>
                <br><br>

            </div>

            <div class="column-one-third">
                <div class="video-placeholder">
                    <img src="https://static.wixstatic.com/media/1ea37c_5646ea9e5702460e889558031c6a7dc7~mv2_d_2712_1558_s_2.png/v1/fill/w_1200,h_688,al_c,usm_0.66_1.00_0.01/1ea37c_5646ea9e5702460e889558031c6a7dc7~mv2_d_2712_1558_s_2.png">
                </div>

                <ul>
                    <li><a href=""><strong class="bold-small">Body Weight Training: Legs</strong></a></li>
                    <li class="font-xsmall">9341 views</li>
                    <li class="font-xsmall"><a href="">Fitness 101</a></li>
                </ul>
                <br><br>

            </div>

            <div class="column-one-third">
                <div class="video-placeholder">
                    <img src="https://static.wixstatic.com/media/1ea37c_1601fb9f7b574efeaa7c6ec3dd669105~mv2_d_2712_1558_s_2.png/v1/fill/w_1200,h_688,al_c,usm_0.66_1.00_0.01/1ea37c_1601fb9f7b574efeaa7c6ec3dd669105~mv2_d_2712_1558_s_2.png">
                </div>


                <ul>
                    <li><a href=""><strong class="bold-small">The Path to Mindfulness</strong></a></li>
                    <li class="font-xsmall"><strong class="bold-small">NEW</strong> 24 views</li>
                    <li class="font-xsmall"><a href="">Samaritans</a></li>
                </ul>
                <br><br>

            </div>


        </div>

    </div>
</main>

{% endblock %}


