{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">

        <div class="column-full">

            <br>

            <a class="nav-button active taller" href="index-page.html" role="button">Dashboard</a>
            <a class="nav-button taller" href="people.html" role="button">Shift Log</a>
            <a class="nav-button taller" href="people.html" role="button">People</a>
            <a class="nav-button taller" href="landing.html" role="button">Landing</a>
            <a class="nav-button taller" href="tasks.html" role="button">Tasks</a>
            <a class="nav-button taller" href="appointments" role="button">Meetings</a>

            <br><br>
            <h1 class="heading-small">Logged in as:</h1> Martha Green, Offender Manager AB12345<br>
            <a href="">Log out</a>

            <h1 class="heading-large">Profile</h1>

                <div class="grid-row column-full box-profile">

                    <div class="column-one-third">
                        <img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-1-1/128/gender-male2-512.png">

                    </div>

                    <div class="people column-two-thirds">

                        <h1 class="heading-large">Ian Rider</h1>
                        <ul>
                            <li><strong class="bold-small">ID:</strong> 1234569000</li>
                            <li><strong class="bold-small">Cell:</strong> 19 <strong class="bold-small">Landing:</strong> B <strong class="bold-small">Wing:</strong> 4</li>
                            <li><strong class="bold-small">Last activity:</strong> English Class at Education Block B</li>
                            <li><strong class="bold-small">Next activity:</strong> Visit at 14:30 with Jane Rider</li>
                            <li><strong class="bold-small">Available balance:</strong> £137.56 <strong class="bold-small">Savings:</strong> £84.08 </li>
                            <li><a href="">Case notes</a></li>
                        </ul>
                    </div>

                </div>


            <h1 class="heading-medium">Alerts</h1>

            <div class="alerts column-one-half">

                <ul>
                    <li><strong class="bold-small">Alert type:</strong> Security</li>
                    <li><strong class="bold-small">Alert code:</strong> Staff Assaulter</li>
                    <li><strong class="bold-small">Comments:</strong> Assaulted police</li>
                </ul>

            </div>

            <div class="alerts column-one-half">

                <ul>
                    <li><strong class="bold-small">Alert type:</strong> Security</li>
                    <li><strong class="bold-small">Alert code:</strong> Staff Assaulter</li>
                    <li><strong class="bold-small">Comments:</strong> Spits at staff</li>
                </ul>

            </div>

            <div class="alerts column-one-half">

                <ul>
                    <li><strong class="bold-small">Alert type:</strong> Security</li>
                    <li><strong class="bold-small">Alert code:</strong> Assaulter</li>
                    <li><strong class="bold-small">Comments:</strong> Assaulted partner</li>
                </ul>

            </div>

            <div class="alerts column-one-half">

                <ul>
                    <li><strong class="bold-small">Alert type:</strong> Security</li>
                    <li><strong class="bold-small">Alert code:</strong> Assaulter</li>
                    <li><strong class="bold-small">Comments:</strong> Assaulted partner</li>
                </ul>

            </div>

            <div class="profile-info column-full">

                <div class="profile-info column-one-half">

                    <h1 class="heading-medium">Upcoming Meetings</h1>

                    <ul>
                        <li><strong class="bold-small">Date:</strong> 27/03/2017</li>
                        <li><strong class="bold-small">Time:</strong> 14:30pm</li>
                        <li><strong class="bold-small">Where:</strong> Meeting room 24</li>
                        <li><strong class="bold-small">Attendees:</strong> Ian Rider, Martha Green</li>
                    </ul>

                    <br>

                    <ul>
                        <li><strong class="bold-small">Date:</strong> 27/03/2017</li>
                        <li><strong class="bold-small">Time:</strong> 11:30pm</li>
                        <li><strong class="bold-small">Where:</strong> Meeting room 5</li>
                        <li><strong class="bold-small">Attendees:</strong> Ian Rider, Martha Green</li>
                    </ul>
                    <br>
                    <a href="meeting.html">Book a meeting</a>

                </div>

                <div class="profile-info column-one-half">

                    <h1 class="heading-medium">Recent Movements</h1>

                    <ul>
                        <li><strong class="bold-small">Scheduled Trip:</strong> 03/04/2010</li>
                        <li><strong class="bold-small">Time:</strong> 8:00 - 12:00</li>
                        <li><strong class="bold-small">Type:</strong> Medical Visit</li>
                        <li><strong class="bold-small">Status:</strong> Upcoming</li>
                    </ul>

                    <br>

                    <ul>
                        <li><strong class="bold-small">Scheduled Trip:</strong> 03/04/2010</li>
                        <li><strong class="bold-small">Time:</strong> 8:00 - 12:00</li>
                        <li><strong class="bold-small">Type:</strong> Medical Visit</li>
                        <li><strong class="bold-small">Status:</strong> Upcoming</li>
                    </ul>

                    <br>

                    <a href="">All Movements</a>

                </div>

                <div class="profile-info column-one-half">

                    <h1 class="heading-medium">Offences</h1>

                    <ul>
                        <li><strong class="bold-small">Offense:</strong> 4566587</li>
                        <li><strong class="bold-small">Offense Date:</strong> 01/02/2017</li>
                        <li><strong class="bold-small">Sentence:</strong> 267 Assault with Weapon</li>
                        <li><strong class="bold-small">Length:</strong> Max: 02Y 06M</li>
                    </ul>

                    <br>

                    <ul>
                        <li><strong class="bold-small">Offense:</strong> 4566587</li>
                        <li><strong class="bold-small">Offense Date:</strong> 01/02/2017</li>
                        <li><strong class="bold-small">Sentence:</strong> 267 Assault with Weapon</li>
                        <li><strong class="bold-small">Length:</strong> Max: 02Y 06M</li>
                    </ul>

                    <br>

                    <details>

                        <summary><span class="summary">More</span></summary>

                        <div class="panel panel-border-narrow">

                            <ul>
                                <li><strong class="bold-small">Offense:</strong> 4566587</li>
                                <li><strong class="bold-small">Offense Date:</strong> 01/02/2017</li>
                                <li><strong class="bold-small">Sentence:</strong> 267 Assault with Weapon</li>
                                <li><strong class="bold-small">Length:</strong> Max: 02Y 06M</li>
                            </ul>

                            <br>

                            <ul>
                                <li><strong class="bold-small">Offense:</strong> 4566587</li>
                                <li><strong class="bold-small">Offense Date:</strong> 01/02/2017</li>
                                <li><strong class="bold-small">Sentence:</strong> 267 Assault with Weapon</li>
                                <li><strong class="bold-small">Length:</strong> Max: 02Y 06M</li>
                            </ul>
                        </div>

                    </details>

                </div>


                <div class="profile-info column-one-half">

                    <h1 class="heading-medium">Personal Details</h1>

                        <ul>
                            <li><strong class="bold-small">DOB:</strong> 01/01/1975</li>
                            <li><strong class="bold-small">Age:</strong> 42</li>
                            <li><strong class="bold-small">Gender:</strong> Male</li>
                            <li><strong class="bold-small">Classification:</strong> Maximum</li>
                            <li><strong class="bold-small">Facility:</strong> ITAG</li>
                        </ul>

                        <br>

                        <ul>
                            <li><strong class="bold-small">Aliases:</strong> "Big Jon" </li>
                            <li><strong class="bold-small">Build:</strong> Medium</li>
                            <li><strong class="bold-small">Complexion:</strong> Dark</li>
                            <li><strong class="bold-small">Hair Colour:</strong> Black</li>
                            <li><strong class="bold-small">Eyes:</strong> Brown</li>
                        </ul>

                </div>

            </div>

            </div>

            </div>

</main>

{% endblock %}


